.aboutus {
    height: 1473px;
    background-color: rgb(226, 234, 238);

    .top-section {
      height: 278px;
      background: white;
      overflow: hidden;
      /* Add any additional styles for the top section */
      .imgContainer {
        position: relative;
        width: 100%;
        height: 290px;
        overflow: hidden;
    
        img {
          width: 31%;
          display: block;
          height: 278px;
        }
        .image-title {
          position: absolute;
          top: 69%;
          left: 38%;
          transform: translate(-50%, -50%);
          color: rgb(26, 42, 50); 
          font-size: 58px; 
          font-family: sans-serif;
          font-weight: 300;
        }  
    } /* Add any additional styles for the whole page */
  }
  .button-container {
    margin-top: 20px;

    button {
      margin-right: 160px; // Add spacing between buttons if needed
      padding: 10px 20px;
      background-color: #ffffff;
      color: rgb(26, 42, 50); // Change to your preferred text color
      border: none;
      cursor: pointer;
      font-size: 12px;
      border-radius: 5px;
      margin-left: 126px;
 
      &:hover {
        background-color: rgb(26, 42, 50);
    color: #ffffff; // Change to your preferred hover color
      }
    }
  }
  h2{
    margin-left: 323px;
    font-size: 173%;
    font-weight: 300;
    font-family: sans-serif;
    margin-bottom: 28px;
  }
  .aboutus-paragraph {
  
    text-align: justify;
    color: #030303;
    font-size: 16px;
    /* Add any additional styles as needed */
    
    p {
        margin-bottom: 30px; /* Add space between paragraphs */
        margin-left: 106px;
        margin-right: 119px;
        line-height: 32px;
      }
  }
  .ayannah-contacts{
    
      margin-top: 40px; /* Adjust the top margin as needed */
      padding: 20px;
      background-color: #f5f5f5; /* Set the background color */
      border-radius: 10px; /* Add rounded corners */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
      display: flex;

    
      .left {
        width: 30%; /* Adjust the width of each column as needed */
      padding: 20px;
        overflow: hidden;
    
        .wrapper {
          padding: 20px;
    
          p {
            font-size: 14px;
            line-height: 1.5;
            margin-bottom: 10px;
    
            strong {
              font-weight: bold;
            }
          }
        }
      }
    
      .middle {
        width: 30%; /* Adjust the width of each column as needed */
        padding: 20px;
        overflow: hidden;
    
        .wrapper {
          padding: 20px;
    
          p {
            font-size: 14px;
            line-height: 1.5;
            margin-bottom: 10px;
          }
        }
      }
    
      .right {
        width: 30%; /* Adjust the width of each column as needed */
        padding: 20px;
        overflow: hidden;
    
        .wrapper {
          padding: 20px;
    
          p {
            font-size: 14px;
            line-height: 1.5;
            margin-bottom: 10px;
          }
    
          .social-icons {
            display: flex;
            a {
              margin-right: 40px;
              text-decoration: none;
              color: #010525;
              transition: color 0.3s ease;
              
    
              &:hover {
                color: #b58904; // Change to your desired hover color
              }
            }
          }
        }
      }
    
    
  }
  
}